PLATFORM=
APPLICATION_NAME=myadmin
PMA_CONTAINER_NAME=pma
PMA_IMAGE=phpmyadmin:latest
DOMAIN=
PMA_HOST=${APPLICATION_NAME}.${DOMAIN}

PMA_HOSTS=db,dbwp,matomo
PMA_VERBOSES=KPI-DB,Wordpress-DB,Matomo-DB

TRAEFIK_USERS=user1:$$apr1$$xxxxxxxx,user2:$$apr1$$yyyyyyyy
